/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  padding: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
/* HEADER */
header {
  background-image: linear-gradient(52deg, rgba(23, 89, 93, 1) 21%, rgba(24, 96, 100, 1) 48%, rgba(26, 118, 121, 1) 82%, rgba(34, 193, 195, 1) 100%);
  background-color: #0088a4;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  box-shadow: -2px 2px 9px 2px black;
}
header img,
p,
a {
  margin-bottom: 15px;
}
header a {
  margin-bottom: 30px;
  color: white;
  text-decoration: none;
  list-style-type: none;
}
/* MAIN */
main {
  padding-inline: 10px;
  background-color: white;
  box-shadow: 1px 1px 12px 0px black;
}
p {
  margin-bottom: 15px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding: 10px;
}
.intro {
  color: rgb(167, 167, 167);
}
strong {
  color: hsl(288, 62%, 42%);
  font-weight: 600px;
  font-weight: bold;
}
code {
  background-color: hsl(0, 4%, 85%);
  border-radius: 5px;
  border: 1px solid #a09e9e;
}
article ul li {
  list-style-type: disc;
  margin-left: 30px;
}
article h2,
p {
  margin: 10px;
}
article ol li {
  list-style-type: decimal;
  margin-left: 30px;
}
.border {
  border-top: 2px solid #68a5ff;
  padding: 15px 0px;
}
main,
aside {
  background-color: rgb(255, 255, 255);
}
iframe {
  border-radius: 20px;
  padding-bottom: 15px;
}
/* TABELLE */
caption {
  font-weight: bold;
}
table {
  text-align: center;
}
thead {
  background-color: #68a5ff;
}
tbody tr {
}
/* FORM */
section {
  background-color: hsl(0, 10%, 88%);
  padding: 20px;
}
section h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
button {
  background-color: hsl(216, 78%, 58%);
  color: white;
}
/* ELEMENTI NELL' ASIDE */
aside {
  padding-inline: 10px;
}
aside div {
  background-color: hsl(0, 10%, 88%);
  padding-inline: 10px;
}
aside a {
  color: #0088a4;
}
.data {
  text-align: right;
}
aside h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}
/* FOOTER */
footer {
  background-color: hsl(190, 63%, 31%);
  text-align: center;
  margin-bottom: 10px;
  color: white;
  display: inline block;
  margin: 0 auto;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
}
footer a {
  color: magenta;
  font-weight: bold;
}
