/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  margin: 15px;
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  background-image: linear-gradient(52deg, rgba(23, 89, 93, 1) 21%, rgba(24, 96, 100, 1) 48%, rgba(26, 118, 121, 1) 82%, rgba(34, 193, 195, 1) 100%);
  background-color: #0088a4;
  text-align: center;
}
header img,
p,
a {
  margin-bottom: 15px;
}
header a {
  margin-bottom: 30px;
}
/* MAIN */
main,
aside {
  background-color: rgb(255, 255, 255);
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */
section {
  background-color: hsl(0, 10%, 88%);
  border: 0.5px solid black;
}
/* ELEMENTI NELL' ASIDE */
aside div {
  background-color: hsl(0, 10%, 88%);
  border: 0.5px solid black;
}
/* FOOTER */
footer {
  background-color: #0088a4;
}
